@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'x-files';
  src: url(/fonts/x-files.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;

}

.index {
  background-color: black;
  height: 100vh;
}

.x {
  color: white;
  text-align: center;
  font-size: 30vh;
  font-family: "x-files";
  padding-top: 50px;
}

#login, #register {
  margin: 30px;
  background-color: white;
  color: black;
  border: solid 1px black;
}

#login:hover, #register:hover {
  background-color: black;
  color: white;
  border: solid 1px white;
}

.profileimage {
  width: 200px;
  height: auto;
  margin: 0px auto 20px auto;
  border-radius: 50%;
}

a {
  color: white;
}

.logout {
  color: white;
  text-align: right;
  margin: -60px 25px 0px 0px;
  font-weight: 700;
}

.newuser {
  text-align: center;
}

.name {
  text-transform: capitalize;
  margin: 0;
  color: white;
  background-color: black;
}

.email {
  margin: 0;
  color: white;
  background-color: black;
  padding-bottom: 3px;
}



.profile-information {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  width: 100%;
  text-align: center;
  height: 350px;
  background-image: url(/img/mood.jpg);
  background-size: cover;
  background-color: black;
  background-position: center top;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}

.user {
  width: 100%;
  background-color: white;
}

.feed {
  width: 100%;
  background-color: white;
}


.headlinep {
text-align: center;
padding: 10px;
border-bottom: 4px solid lightgrey;
}

#filter {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  padding: 0 20px 0 20px;
  height: 37px;
}

.form {
  
  display: flex;
  flex-direction: column;
  margin: 20px auto 20px auto;
  text-align: center;
  max-width: 300px;
}

button {
  display: block;
  margin: 20px;
  border-radius: 15px;
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
  margin: auto;
}

button:hover {
  cursor: pointer;
}

#deletepost, #updatepost, #likepost {
  background-color: white;
  color: black;
  display: inline-block;
  margin: 14px -6px 20px 55px;
}

#deletepost:hover {
  background-color: antiquewhite;
}

#updatepost:hover {
  background-color: antiquewhite;
}

#likepost:hover {
  background-color: antiquewhite;
}

input {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid;
}

.search {
  display: block;
  margin: 10px auto;
  height: 35px;
}

.feedselections {
  display: flex;
  align-items: baseline;
}

::placeholder {
  text-align: center;
}

textarea {
  display: block;
  width: 80%;
  min-height: 150px;
  margin: 20px auto;
  border-radius: 10px;
}

#your-comment {
  padding: 10px;
}

.feedpost {
  background-color: white;
  min-height: 50px;
  margin: 25px auto 10px auto;
  border-radius: 10px;
  width: 80%;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.feedpost p {
  text-align: center;
  padding: 10px;
}

.error {
  color: red;
  text-align: center;
}

.post {
  background-color: white;
  margin: 80px auto 0px auto;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 80%;
}

.post p {
  margin: 20px;
  padding: 10px;
}


@media (min-width: 625px) {
.main {
  flex-direction: row;
  }
  .user {
    width: 80%;
  }
  
  .feed {
    width: 80%;
  }
  
}

@media (max-width: 320px) {
  .feedselections {
    display: block;
    
  }
}