body {
  margin: auto;
  font-family:"garamond-premier-pro", sans-serif;
}

.profileimage {
  width: 200px;
  height: auto;
  margin: 0px auto 20px auto;
  border-radius: 50%;
}

.logout {
  color: white;
  text-align: right;
  margin: -60px 10px 0px 0px;
}

.newuser {
  text-align: center;
}

.name {
  text-transform: capitalize;
  margin: 0;
  color: white;
}

.email {
  margin: 0;
  color: white;
}



.profile-information {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  width: 100%;
  text-align: center;
  height: 350px;
  background-color: black;
}

.main {
  display: flex;
  align-items: baseline;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}

.user {
  width: 80%;
}

.feed {
  width: 80%;
}


.headlinep {
text-align: center;
}

#filter {
  display: block;
margin: 0 auto;
}
.form {
  
  display: flex;
  flex-direction: column;
  margin: 20px auto 20px auto;
  text-align: center;
  max-width: 300px;
}

button {
  display: block;
  margin: 20px;
  border-radius: 15px;
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
  margin: auto;
}

button:hover {
  cursor: pointer;
}

#deletepost, #updatepost, #likepost {
  background-color: white;
  color: black;
  display: inline-block;
  margin: 14px -6px 20px 47px;
}

#deletepost:hover {
  background-color: antiquewhite;
}

#updatepost:hover {
  background-color: antiquewhite;
}

#likepost:hover {
  background-color: antiquewhite;
}

input {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid;
}

.search {
  display: block;
  margin: 10px auto;

}

textarea {
  display: block;
  width: 80%;
  min-height: 150px;
  margin: 20px auto;
  border-radius: 10px;
}

.feedpost {
  background-color: white;
  min-height: 50px;
  border: 1px solid black;
  margin: 10px auto 10px auto;
  border-radius: 10px;
  width: 80%;
}

.feedpost p {
  text-align: center;
  padding: 10px;
}

.error {
  color: red;
  text-align: center;
}

.post {
  background-color: white;
  margin: 80px auto 0px auto;
  border: solid 2px; 
  border-radius: 10px;
  width: 80%;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.288);
}

.post p {
  margin: 20px;
}
